<h1>Coaching</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="what's your name?">
  <input type="submit" value="Ask!">
</form>
